// @import "helpers/mixins";
// @import "helpers/variables";

/*      HERO IMAGES     */

.hero-boat {
	background-image: url('../../img/hero-boat.jpg');
}

.hero-bird-flying {
	background-image: url('../../img/hero-bird-flying.jpg');
}

.hero-coast {
	background-image: url('../../img/hero-coast.jpg');
}

.hero-waves {
	background-image: url('../../img/hero-waves.jpeg');
}

.hero-team {
    background-image: url('../../img/team.jpg');
}

.hero-hands {
    background-image: url('../../img/hero-hands.jpg');
}

.hero-biker {
    background-image: url('../../img/hero-biker.jpg');
}

.title-gradient {
    background-image: -webkit-linear-gradient(top, rgba(35,31,32,0) 0%, #000 100%);
    background-image: -o-linear-gradient(top, rgba(35,31,32,0) 0%, #000 100%);
    background-image: linear-gradient(to bottom, rgba(35,31,32,0) 0%, #000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00231F20', endColorstr='#FF000000', GradientType=0);
    @include opacity(0.6);
    width: 100%;
    height: calc(100vh / 2);
    position: absolute;
    bottom: 0;
    left: 0;
}

.dark-overlay {

    &:before{
     content:" ";
     background-color: rgba(8,8,8,.6);
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     height: 100%;
     z-index: -1;
    }
}

img {
    &.stats {
        width: 100px;
        height: 100px !important;
        margin-bottom: 1em;
    }
    &.nudge-up {
        transition: all .4s ease-in-out;
        &:hover {
            -ms-transform: translate(0px,-15px); /* IE 9 */
            -webkit-transform: translate(0px,-15px); /* Chrome, Safari, Opera */
            transform: translate(0px,-15px); /* Standard syntax */
        }
    }
    &.centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
    }
}

.hide {
    @include mobile-and-tablet {
        display: none;
    }
}