/*      HERO IMAGES     */

.hero-boat {
	background-image: url('../../img/hero-boat.jpg');
}

.hero-bird-flying {
	background-image: url('../../img/hero-bird-flying.jpg');
}

.hero-coast {
	background-image: url('../../img/hero-coast.jpg');
}

.hero-waves {
	background-image: url('../../img/hero-waves.jpeg');


}

.title-gradient {
    background-image: -webkit-linear-gradient(top, rgba(35,31,32,0) 0%, #000 100%);
    background-image: -o-linear-gradient(top, rgba(35,31,32,0) 0%, #000 100%);
    background-image: linear-gradient(to bottom, rgba(35,31,32,0) 0%, #000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00231F20', endColorstr='#FF000000', GradientType=0);
    opacity: .6;
    width: 100%;
    height: calc(100vh / 2);
    position: absolute;
    bottom: 0;
    left: 0;
}
