
#map-canvas {
	width: 100%;
	height: 70vh;
	background-color: green;

	// @include mobile {
	// 	display: none;
	// 	padding: 0;
	// }

	.gmnoprint a, .gmnoprint span {
    display:none;
	}
	.gmnoprint div {
	    background:none !important;
	}
}