header {
	background-color: transparent;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	padding: 2em;

	img {
		float: left;
	}

		nav {
			ul {
				float: right;
				margin-top: 35px;

				li {
					display: inline;
					list-style-type: none;

					a {

						font-size: 1.2em;
						font-family: $font-stack-sans-serif;
						font-weight: 500;
						color: $color-link-light;
						text-decoration: none;
						text-transform: uppercase;
						float: left;
						margin-right: 3em;
						transition: all .3s ease-in-out;
						position: relative;

						&:hover, &:active {
							color: $color-link-dark;

							&:before {
							  visibility: visible;
							  -webkit-transform: scaleX(1);
							  transform: scaleX(1);
							}
						}

						&:before {
						  content: "";
						  position: absolute;
						  width: 100%;
						  height: 3px;
						  bottom: -6px;
						  left: 0;
						  background-color: $color-link-dark;
						  visibility: hidden;
						  -webkit-transform: scaleX(0);
						  transform: scaleX(0);
						  -webkit-transition: all 0.3s ease-in-out 0s;
						  transition: all 0.3s ease-in-out 0s;

						}
						

					}
				}
			}
		}
	}


button {
	padding: 1em;
	font-family: $font-stack-sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1.25em;
	letter-spacing: .05em;
	background-color: transparent;
	transition: all .2s ease-in-out;


	&.light {
		border: 2px solid #fff;
		color: $color-link-light;

		&:hover {
			background-color: $color-link-light;
			color: $color-container-dark;
		}
	}
	&.dark {

	}
}