header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	padding: 2em;

	&.nav-container {
			transition: all 400ms ease-in-out;
	}

	img {
		float: left;
		transition: all 400ms ease-in-out;
		
	}

		nav {

			ul {
				float: right;
				margin-top: 35px;

				li {
					display: inline;
					list-style-type: none;

					a {

						font-size: 1em;
						font-family: $font-stack-sans-serif;
						font-weight: 500;
						letter-spacing: .05em;
						color: $color-link-light;
						text-decoration: none;
						text-transform: uppercase;
						float: left;
						margin-right: 3em;
						position: relative;
						@include transition(all .3s ease-in-out);

						&:hover, &:active {
							color: $color-link-dark;

							&:before {
							  visibility: visible;
							  -webkit-transform: scaleX(1);
							  transform: scaleX(1);
							}
						}

						&:before {
						  content: "";
						  position: absolute;
						  width: 100%;
						  height: 2px;
						  bottom: -6px;
						  left: 0;
						  background-color: $color-link-dark;
						  visibility: hidden;
						  -webkit-transform: scaleX(0);
						  transform: scaleX(0);
						  @include transition(all .3s ease-in-out);

						}
						

					}
				}
			}
		}
	@include mobile-and-tablet {
		background-color: $orange;
	}
}


button {
	padding: 1em 2em 1em 2em;
	margin-top: 1em;
	font-family: $font-stack-sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 2px;
	font-size: .75em;
	letter-spacing: .1em;
	background-color: transparent;
	outline: none;
	@include transition(all .2s ease-in-out);


	&.light {
		border: 2px solid #fff;
		color: $color-link-light;

		&:hover, &:focus, &:active {
			background-color: $color-link-light;
			color: $color-container-dark;
		}
	}
	&.dark {
		border: 2px solid $color-link-dark;
		color: $color-link-light;
		background-color: $color-link-dark;

		&:hover, &:focus, &:active {
			background-color: transparent;
			color: $color-link-dark;
		}

	}
}

.show-nav-bg, .jobs-nav {
	background-color: rgba(237, 130, 34, .9);
	padding: 1em;
	box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
	@include transition(all 2s ease-in-out);

	.nav-img-wrapper {
		width: 150px;
		img {
			-webkit-transform: scale(.9);
			transform: scale(.9);
		}	
	}

	ul {
		margin-top: 1em;
		li {
			a {
				&:hover, &:focus, &:active {
					color: $color-link-light;
				}

				&:before {
					background-color: $color-link-light;
				}
			}
		}
	}

	@include mobile-and-tablet {
		background-color: $orange;
		box-shadow: none;
	}
}

/* SUB NAVIGATION */

nav {
	&.sub-nav {
		ul {
			list-style-type: none;

			li {
				margin-left: -1em;
				padding-bottom: 0.5em;
				text-align: left;

				a {
					text-decoration: none;
					text-transform: uppercase;
					font-family: $font-stack-sans-serif;
					font-size: 1em;
					color: $color-link-subnav-dark;
					@include transition(all .3s ease-in-out);

					&:hover, &:active, &:focus {
						color: $color-link-subnav-light;
					}
				}
			}
		}
	}
}

/* RESPONSIVE MENU */ 

#nav-mobile {
	position: absolute;
	cursor: pointer; 
	padding: 10px 35px 16px 0px;

	span {
		  cursor: pointer;
		  border-radius: 1px;
		  height: 3px;
		  width: 35px;
		  background-color: white;
		  position: absolute;
		  display: block;
		  content: '';
		  @include transition (all 500ms ease-in-out);

		&:before {
			@extend span;
			top: -12px;
		}

		&:after {
			@extend span;
			bottom: -12px;
		}
	}

	@include desktop {
		display: none;
	}

	@include mobile-and-tablet {
		bottom: 25px;
		right: 20px;
	}
}



.nav-mobile-active {
	
	span{
		background-color: transparent !important;
	
		&:before {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			top: 0 !important;
		}

		&:after {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			top: 0 !important;
		}
	}


}

@include mobile-and-tablet{
	header {
		padding: 1em;

		.nav-img-wrapper {
			width: 150px;
		}

		nav {
			ul {
				display: none;
				li {
					display: block;
				}
			}
		}
	}
}