.about-grid {
    list-style: none;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    
	
	li {
    display: inline-block;
    margin: 20px 10px 0 10px;
    vertical-align: top;
    height: 300px;
    overflow: hidden;


	    figure, a {
	    	img {
	    		width: 300px;
	    		max-height: 300px;

			     @include transition (all 0.5s ease-in-out);
		
				@include desktop {


                 &:hover {
                     
                         @include transform(scale(1.1));
                     }	
				}
            }

	    		 	

    	}

	}
}


.about-grid li > a,
.about-grid li > a img {
    border: none;
    outline: none;
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}


.about-expander {
    position: absolute;
    background: $color-container-light;
    top: auto;
    width: 100%;
    left: 0;
    text-align: left;
    height: 0;
    overflow: hidden;
    margin-top: 10px;
}


.about-expander-inner {
    opacity: 1.0 !important;
    padding: 25px;
    height: 100%;
    margin: 0 auto;
    // position: relative;

    @include desktop {
        width: 960px;
        padding: 50px 10px;
    }

    @include tablet {
        width: 640px;
        padding: 50px 10px;
    }
}

.about-close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.about-close::before,
.about-close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: $color-text-darkest;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.about-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.about-close:hover::before,
.about-close:hover::after {
    background: #333;
}

.about-details {

    height: 100%;
    overflow: hidden;
    display: inline-block;

    
     h4 {
    font-weight: 400;
    font-size: 2em;
    font-family: $font-stack-serif;
    letter-spacing: 0;
    text-transform: none;
    color: $color-heading-light;
    padding-bottom: 0.5em;

    }

    h5 {
    font-size: 1em;
    padding-bottom: 1em;
    color: $color-hero-title-blue;
    }

    p {
        color: $color-text-darkest;
        display: inline-block;
        float: right;
    }
}

.about-loading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ddd;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    -webkit-animation: loader 0.5s infinite ease-in-out both;
    -moz-animation: loader 0.5s infinite ease-in-out both;
    animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
    0% { background: #ddd; }
    33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
    66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
    0% { background: #ddd; }
    33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
    66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
    0% { background: #ddd; }
    33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
    66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

    .about-expander h4 { font-size: 1.5em; }
    .about-expander h5 { font-size: 1em; }
    .about-expander p { font-size: 0.8em; }

}

@media screen and (max-width: 650px) {

    .about-details { float: none; width: 100%; }
    
}