@import "helpers/colors";
@import "helpers/mixins";
@import "helpers/variables";

.container {
	padding: 3em;

	@include tablet {
		padding: 5em;
	}

	@include desktop {
		padding: 6em;
	}
}

.nav-container {
}

.hero-container {
	@extend .container;
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	height: 1000px;
	position: relative;
}

.light-container {
	@extend .container;
	background-color: $color-container-light;
}

.dark-container {
	@extend .container;
	background-color: $color-container-dark;
}

.darkest-container {
	@extend .container;
	background-color: $color-container-darkest;
}