@import "helpers/colors";
@import "helpers/mixins";
@import "helpers/variables";

.container {
	padding: 1em;

	@include tablet {
		padding: 5em;
	}

	@include desktop {
		padding: 6em;
	}
}

.nav-container {
}

.hero-container {
	@extend .container;
	background-color: none;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;

	@include mobile-and-tablet {
		height: 80vh;
	}
}

.bg-img-container {
	height: 70vh;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;

	@include mobile-and-tablet {
		height: 80vh;
	}
}

.light-container {
	@extend .container;
	background-color: $color-container-light;

	&.jobs-page {
		padding: 2em;

		@include mobile {
			padding: 0;
		}
	}
}

.dark-container {
	@extend .container;
	background-color: $color-container-dark;

	@include mobile {
		padding: 2em;
	}
}

.darkest-container {
	@extend .container;
	background-color: $color-container-darkest;
}

.right-float {
	float: right !important;
}

.loader {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100vh;

	svg path,
	svg rect{
  		fill: #FF6700;
	}

	.loader-bars {
		position: absolute;
		margin: 0 auto;
		top: 50%;
		width: 100%;
	}
}