footer {
	background-color: $dark-grey;
	color: $color-footer;
	padding: 3em 0em 3em 0em;
	font-family: $font-stack-sans-serif;
	text-transform: uppercase;
	font-weight: 300;

	p {
		font-size: .9em;
		padding: 0;
	}

	ul {
		float: right;
		
		li {
			font-size: .9em;
			display: inline;
			margin-left: 2em;
		}
	}
}