@import "helpers/mixins";
@import "helpers/variables";

footer {
	.primary-footer {
		padding: 3em 0em 3em 0em;
		background-color: $dark-grey;
		color: $color-heading-lightest;
		font-size: .9em;

		p {
			color: $color-text-dark;
		}

		ul {
			float: none;
			list-style-type: none;

			@include desktop {
				float: left;
			}

			li {
				font-size: 0.7em;
				margin-bottom: 1em;
				
				img {
					opacity: 0.3;
					@include transition (all 0.2s ease-in-out);
						
						&:hover {
						opacity: 0.7;
				}

				}


				@include desktop {
					display: inline;
					margin-left: 2em;
				}

			}
		}
	}

	.sub-footer {
		font-family: $font-stack-sans-serif;
		text-transform: uppercase;
		background-color: $darkest-grey;
		font-weight: 300;
		color: rgba(255,255,255, .2);

		p {
			font-size: .7em;
			letter-spacing: .2em;
			padding-bottom: 0;
		}

		a {
			text-decoration: none;
			color: rgba(255,255,255, .2);
		}
	}
}





// 	p {
// 		font-size: .9em;
// 		padding: 0;
// 		float: left;

// 		@include mobile-and-tablet{
// 			float: none;
// 			text-align: center;
// 		}
// 	}

// 	ul {
// 		float: right;
		
// 		li {
// 			font-size: .9em;
// 			display: inline;
// 			margin-left: 2em;

// 		}

// 		@include mobile-and-tablet {
// 			float: none;
// 			display: block;
// 		}

// 	}

// }