@import "helpers/mixins";
@import "helpers/variables";

footer {
	background-color: $dark-grey;
	color: $color-footer;
	padding: 3em 0em 3em 0em;
	font-family: $font-stack-sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	clear: both;

	p {
		font-size: .9em;
		padding: 0;
		text-align: center;
		float: none;

		@include desktop{
			float: left;
		}
	}

	ul {
		float: none;
		list-style-type: none;

		@include desktop {
			float: right;
		}

		li {
			font-size: .9em;
			text-align: center;
			margin-bottom: 1em;

			@include desktop {
				display: inline;
				margin-left: 2em;
			}
		}
	}
}





// 	p {
// 		font-size: .9em;
// 		padding: 0;
// 		float: left;

// 		@include mobile-and-tablet{
// 			float: none;
// 			text-align: center;
// 		}
// 	}

// 	ul {
// 		float: right;
		
// 		li {
// 			font-size: .9em;
// 			display: inline;
// 			margin-left: 2em;

// 		}

// 		@include mobile-and-tablet {
// 			float: none;
// 			display: block;
// 		}

// 	}

// }