@import "helpers/mixins";
@import "helpers/variables";
 
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
 
    @include border-box;
 
    }

img {
    width: auto;
    max-width: 100%;
    height: auto !important; 
    }

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.wrapper,
.row {
    @extend %clearfix;
}

[class*='column-'] {
    float: left;
    padding: 1em;
    width: 100%;
    min-height: 1px; 
    }

@include desktop {
 
    .wrapper {
        width: 95%;
        max-width: $grid-max-width; 
        }
         
    @for $i from 1 through $grid-columns {
 
	    .column-#{$i} { 
	     		width: 100% / $grid-columns * $i;

                &.left-float {
                    float: left;
                }

                &.right-float {
                    float: right;
                }
	        }
 
	}
     
}

@include tablet {

    .column-3 {
        width: 25%;
        &.sub-nav-full {
            width: 100%;
        }
    }

    .column-4 {
        &.avatar {
            width: 50%;
        }
        
    }


}

@include mobile-and-tablet {
    @for $i from 1 through $grid-columns {
 
        .column-#{$i} { 
                
                &.left-float {
                    margin: 0 auto;
                    float: none;

                    &.svg {
                    text-align: center;
                     }
                }

                &.right-float {
                    margin: 0 auto;
                    float: none;   
                    
                    &.svg {
                    text-align: center;
                     }
                }
            }

    }
}
