@import "variables";
@import "mixins";

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Droid+Serif:400,700);

$lato: "Lato";
$droid-serif: "Droid Serif";

$font-stack-serif: $droid-serif, Georgia, Times, serif;
$font-stack-sans-serif: $lato, Helvetica, Tahoma, Verdana, sans-serif;



/* 		BODY	*/

body {
    font-size: 1em;
    font-family: $font-stack-serif;
    color: $blue-grey;
}

/*      TITLE 		*/

h1 {
    font-family: $font-stack-serif;
    color: $color-hero-title;
    font-size: 3em;
    font-weight: normal;

    &.hero-title {
        position: absolute;
        bottom: 1.5em;
        max-width: 20em;

        @include tablet {
            max-width: 16em;
        }

        @include mobile {
            max-width: 12em;
        }
    }

    @include mobile {
        font-size: 2em;
    }
}



/* 		HEADINGS		*/

h2 {
    font-family: $font-stack-sans-serif;
    font-size: 2.75em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1em;
    padding-bottom: 1em;
    &.lightest {
        color: $color-heading-lightest;
    }
    &.light {
        color: $color-heading-light;
    }
    &.dark {
        color: $color-heading-dark;
    }
}

h3 {
    font-family: $font-stack-sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .1em;
    padding: 1em;

    &.light {
        color: $color-heading-light;
    }
    &.dark {
        color: $color-heading-dark;
    }
}

h4 {
    font-family: $font-stack-sans-serif;
    font-size: 1.5em;
}

.centered {
    text-align: center;
}

p {
    font-size: 1.15em;
    line-height: 1.5em;
    &.large {
        font-size: 2em;
        padding-bottom: 2em;
    }
    &.lighest {
        color: $color-text-lightest;
    }
    &.light {
        color: $color-text-light;
    }
    &.dark {
        color: $color-text-dark; 
    }
    &.darkest {
        color: $color-text-darkest;
    }
}