@import "variables";
@import "mixins";

@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700|Lato:100,300,400,700,900);

$lato: "Lato";
$pt-serif: "PT Serif";

$font-stack-serif: $pt-serif, Georgia, Times, serif;
$font-stack-sans-serif: $lato, Helvetica, Tahoma, Verdana, sans-serif;



/* 		BODY	*/

body {
    font-size: 1em;
    font-family: $font-stack-serif;
    color: $blue-grey;
}

/*      TITLE 		*/

h1 {
    font-family: $font-stack-serif;
    color: $color-hero-title;
    font-size: 3em;
    font-weight: normal;

        @include tablet {
            max-width: 16em;
        }

        @include mobile {
            font-size: 2em;
            max-width: 16em;
        }

    &.sans {
        font-family: $font-stack-sans-serif;
        font-weight: 700;
        letter-spacing: .1em;
    }

    &.jobs-title {
        color: $color-hero-title-blue;
        margin-top: 2.5em;
    }
}


.hero-title-container {
    position: absolute;
    bottom: 5em;
    max-width: 60em;

    @include mobile {
        max-width: 20em;
    }
}

/*    HEADINGS    */

h2, h3, h4, h5, h6 {
    font-family: $font-stack-sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .25em;

    &.lightest {
        color: $color-heading-lightest;
    }
    &.light {
        color: $color-heading-light;
    }
    &.dark {
        color: $color-heading-dark;
    }
    &.darkest {
        color: $color-heading-darkest;
    }
    &.serif {
        font-family: $font-stack-serif;
        text-transform: none;
        font-weight: normal;
        font-size: 2em;
        letter-spacing: 0;
        &.blue {
            color: $color-text-light;
            line-height: 2em;
            padding: 1em;
            &.small {
                font-size: 1em;
            }
        }
        &.white {
            color: $color-text-lightest;
        }
        &.contact {
            font-size: 1.5em;
        }

        @include mobile {
            font-size: 1.5em;
        }
    }
    &.subhead {
        font-family: $font-stack-sans-serif;
        font-size: 1.5em;
        text-transform: none;
        font-weight: 400;
        letter-spacing: 0;
        color: $color-heading-dark;
        padding: 0em 0em 1em 0em;
        
            &.team {
                max-width: 20em;
            }
    }
}

h5 {
    padding-bottom: 3em;
}


h2,h3,h4, h6 {
    padding-bottom: 1em;
}

.text-overlay {
    z-index: 100;
    margin-top: 20%;

    @include mobile-and-tablet {
        padding: 3em;
    }

}

.centered {
    text-align: center;
    margin: 0 auto;
}

.left {
    text-align: left;
    float: left;
    @include mobile-and-tablet {
        text-align: center;
        float: none;
        margin: 0 auto;
    }
}

.right {
    text-align: right;
    float: right;

    @include mobile-and-tablet {
        text-align: center;
        float: none;
        margin: 0 auto;
    }
}

p {
    font-size: 1.15em;
    line-height: 2em;
    padding-bottom: 1em;
    &.philosophy {
        font-size: 1.25em;
    }
    &.lighest {
        color: $color-text-lightest;
    }
    &.light {
        color: $color-text-light;
    }
    &.dark {
        color: $color-text-dark; 
    }
    &.darkest {
        color: $color-text-darkest;
    }
}

ul {
    &.job-subpoints {
        li {
            line-height: 2em;
            margin-left: 2em;
        }
    }
}

/*    HIGHLIGHT COLOR     */

::selection {
  background: #000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #000; /* Gecko Browsers */
}