@import "colors";

$font-stack-serif: "Droid Serif", Georgia, serif;
$font-stack-sans-serif: "Lato", Helvetica, Tahoma, Verdana, sans-serif;



/* 		BODY	*/

body {
	font-size: 1.5em;
}


/*      TITLE 		*/

h1 {
	font-family: $font-stack-serif;
	color: $color-heading-light;
	font-size: 3em;
	line-height: 3.75em;
}

/* 		HEADINGS		*/

h2 {
	font-family: $font-stack-sans-serif;
	font-size: 3em;

	.light {
		color: $color-heading-light;
	}

	.dark {
		color: $color-heading-dark;
	}

}

h3 {
	font-family: $font-stack-sans-serif;
	font-size: 2.25em;
}

h4 {
	font-family: $font-stack-sans-serif;
	font-size: 1.5em;
}