/* line 9, ../scss/helpers/_mixins.scss */
.wrapper,
.row {
  *zoom: 1;
}
/* line 11, ../scss/helpers/_mixins.scss */
.wrapper:before,
.row:before, .wrapper:after,
.row:after {
  content: " ";
  display: table;
}
/* line 16, ../scss/helpers/_mixins.scss */
.wrapper:after,
.row:after {
  clear: both;
}

/*      NAVIGATION LINKS      */
/*      SUBNAVIGATION LINKS       */
/*       CONTAINER BACKGROUNDS       */
/*       TYPOGRAPHY       */
/* 		BODY	*/
/* line 10, ../scss/helpers/_typography.scss */
body {
  font-size: 1.5em;
}

/*      TITLE 		*/
/* line 17, ../scss/helpers/_typography.scss */
h1 {
  font-family: "Droid Serif", Georgia, serif;
  color: "ffffff";
  font-size: 3em;
  line-height: 3.75em;
}

/* 		HEADINGS		*/
/* line 26, ../scss/helpers/_typography.scss */
h2 {
  font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 3em;
}
/* line 30, ../scss/helpers/_typography.scss */
h2 .light {
  color: "ffffff";
}
/* line 34, ../scss/helpers/_typography.scss */
h2 .dark {
  color: "ed8222";
}

/* line 40, ../scss/helpers/_typography.scss */
h3 {
  font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 2.25em;
}

/* line 45, ../scss/helpers/_typography.scss */
h4 {
  font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 1.5em;
}

/*     GRID     */
/* line 9, ../scss/helpers/_mixins.scss */
.wrapper,
.row {
  *zoom: 1;
}
/* line 11, ../scss/helpers/_mixins.scss */
.wrapper:before,
.row:before, .wrapper:after,
.row:after {
  content: " ";
  display: table;
}
/* line 16, ../scss/helpers/_mixins.scss */
.wrapper:after,
.row:after {
  clear: both;
}

/* line 4, ../scss/layout/_grid.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../scss/layout/_grid.scss */
.wrapper {
  width: 95%;
  max-width: 65em;
}
