@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700|Lato:100,300,400,700,900);
body {
  background-color: #003354;
  margin: 0 auto; }

.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

/*      NAVIGATION LINKS      */
/*      SUBNAVIGATION LINKS       */
/*       CONTAINER BACKGROUNDS       */
/*       TYPOGRAPHY       */
.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

/* 		BODY	*/
body {
  font-size: 1em;
  font-family: "PT Serif", Georgia, Times, serif;
  color: #363a3d; }

/*      TITLE 		*/
h1 {
  font-family: "PT Serif", Georgia, Times, serif;
  color: #ffffff;
  font-size: 3em;
  font-weight: normal; }
  @media (min-width: 768px) and (max-width: 1023px) {
    h1 {
      max-width: 16em; } }
  @media (min-width: 0px) and (max-width: 767px) {
    h1 {
      font-size: 2em;
      max-width: 16em; } }
  h1.sans {
    font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
    font-weight: 700;
    letter-spacing: .1em; }
  h1.jobs-title {
    color: #91bed4;
    margin-top: 2.5em; }

.hero-title-container {
  position: absolute;
  bottom: 5em;
  max-width: 60em; }
  @media (min-width: 0px) and (max-width: 767px) {
    .hero-title-container {
      max-width: 20em; } }

/*    HEADINGS    */
h2, h3, h4, h5, h6 {
  font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .25em; }
  h2.lightest, h3.lightest, h4.lightest, h5.lightest, h6.lightest {
    color: #ffffff; }
  h2.light, h3.light, h4.light, h5.light, h6.light {
    color: #ed8222; }
    h2.light.contact, h3.light.contact, h4.light.contact, h5.light.contact, h6.light.contact {
      padding-bottom: 2em; }
  h2.dark, h3.dark, h4.dark, h5.dark, h6.dark {
    color: #003354; }
  h2.darkest, h3.darkest, h4.darkest, h5.darkest, h6.darkest {
    color: #202020; }
  h2.serif, h3.serif, h4.serif, h5.serif, h6.serif {
    font-family: "PT Serif", Georgia, Times, serif;
    text-transform: none;
    font-weight: normal;
    font-size: 2em;
    letter-spacing: 0; }
    h2.serif a, h3.serif a, h4.serif a, h5.serif a, h6.serif a {
      text-decoration: none;
      color: #363a3d; }
    h2.serif.blue, h3.serif.blue, h4.serif.blue, h5.serif.blue, h6.serif.blue {
      color: #91bed4;
      line-height: 2em;
      padding: 1em; }
      h2.serif.blue.small, h3.serif.blue.small, h4.serif.blue.small, h5.serif.blue.small, h6.serif.blue.small {
        font-size: 1em; }
    h2.serif.white, h3.serif.white, h4.serif.white, h5.serif.white, h6.serif.white {
      color: #ffffff; }
    h2.serif.contact, h3.serif.contact, h4.serif.contact, h5.serif.contact, h6.serif.contact {
      font-size: 1.25em; }
    @media (min-width: 0px) and (max-width: 767px) {
      h2.serif, h3.serif, h4.serif, h5.serif, h6.serif {
        font-size: 1.5em; } }
  h2.subhead, h3.subhead, h4.subhead, h5.subhead, h6.subhead {
    font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
    font-size: 1.5em;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 0;
    color: #003354;
    padding: 0em 0em 1em 0em; }
    h2.subhead.team, h3.subhead.team, h4.subhead.team, h5.subhead.team, h6.subhead.team {
      max-width: 20em; }

h5 {
  padding-bottom: 3em; }
  @media (min-width: 0px) and (max-width: 767px) {
    h5 {
      padding-bottom: 1em; } }

h2, h3, h4, h6 {
  padding-bottom: 1em; }

.text-overlay {
  z-index: 100;
  bottom: 50px;
  overflow: hidden;
  position: absolute; }
  .text-overlay h4 {
    width: 80%;
    display: inline; }
  .text-overlay button {
    float: left; }
  @media (min-width: 0px) and (max-width: 1023px) {
    .text-overlay {
      padding: 3em; } }
  .text-overlay.careers {
    bottom: 0; }
    .text-overlay.careers h4 {
      display: block;
      width: 90%; }

.centered {
  text-align: center;
  margin: 0 auto; }

.left {
  text-align: left;
  float: left; }
  @media (min-width: 0px) and (max-width: 1023px) {
    .left {
      text-align: center;
      float: none;
      margin: 0 auto; } }

.right {
  text-align: right;
  float: right; }
  @media (min-width: 0px) and (max-width: 1023px) {
    .right {
      text-align: center;
      float: none;
      margin: 0 auto; } }

p {
  font-size: 1.15em;
  line-height: 2em;
  padding-bottom: 1em; }
  p.philosophy {
    font-size: 1.25em; }
  p.lighest {
    color: #ffffff; }
  p.light {
    color: #91bed4; }
  p.dark {
    color: #666666; }
  p.darkest {
    color: #363a3d; }

ul.job-subpoints li {
  line-height: 2em;
  margin-left: 2em; }

/*    HIGHLIGHT COLOR     */
::selection {
  background: #000;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #000;
  /* Gecko Browsers */ }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

@-webkit-keyframes shakeHands {
  0% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
@keyframes shakeHands {
  0% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
.shakeHands {
  -webkit-animation: shakeHands 2s infinite;
  animation: shakeHands 2s infinite; }

#gear1 {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotate 5s infinite;
  animation: rotate 5s infinite; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
#gear2 {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotateClockwise 5s infinite;
  animation: rotateClockwise 5s infinite; }

@-webkit-keyframes rotateClockwise {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
.coin {
  -webkit-animation: coinDown 4s infinite;
  animation: coinDown 4s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

#coin-medium {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

#coin-small {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

@-webkit-keyframes coinDown {
  0% {
    opacity: .2; }
  25% {
    opacity: .5; }
  50% {
    opacity: .7; }
  100% {
    opacity: .9; } }
@keyframes coinDown {
  0% {
    opacity: .2; }
  25% {
    opacity: .5; }
  50% {
    opacity: .7; }
  100% {
    opacity: .9; } }
.scale-top {
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: rotateScaleTop 2s infinite;
  animation: rotateScaleTop 2s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@-webkit-keyframes rotateScaleTop {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); } }
@keyframes rotateScaleTop {
  0% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg); } }
.scale-left {
  -webkit-animation: scaleLeft 2s infinite;
  animation: scaleLeft 2s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@-webkit-keyframes scaleLeft {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
@keyframes scaleLeft {
  0% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }
.scale-right {
  -webkit-animation: scaleRight 2s infinite;
  animation: scaleRight 2s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@-webkit-keyframes scaleRight {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
@keyframes scaleRight {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  100% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); } }
@-webkit-keyframes animatedBackground {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
  100% {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1); } }
/*      NAVIGATION LINKS      */
/*      SUBNAVIGATION LINKS       */
/*       CONTAINER BACKGROUNDS       */
/*       TYPOGRAPHY       */
.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

.container, .hero-container, .light-container, .dark-container, .darkest-container {
  padding: 1em; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .container, .hero-container, .light-container, .dark-container, .darkest-container {
      padding: 5em; } }
  @media (min-width: 1024px) {
    .container, .hero-container, .light-container, .dark-container, .darkest-container {
      padding: 6em; } }

.hero-container {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative; }
  @media (min-width: 0px) and (max-width: 1023px) {
    .hero-container {
      height: 80vh; } }

.bg-img-container {
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  @media (min-width: 0px) and (max-width: 1023px) {
    .bg-img-container {
      height: 80vh; } }

.light-container {
  background-color: #ffffff; }
  .light-container.jobs-page {
    padding: 2em; }
    @media (min-width: 0px) and (max-width: 767px) {
      .light-container.jobs-page {
        padding: 0; } }

.dark-container {
  background-color: #003354; }
  @media (min-width: 0px) and (max-width: 767px) {
    .dark-container {
      padding: 2em; } }

.darkest-container {
  background-color: #303030; }

.right-float {
  float: right !important; }

.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media (min-width: 1024px) {
  .wrapper {
    width: 95%;
    max-width: 65em; }

  .column-1 {
    width: 8.33333%; }
    .column-1.left-float {
      float: left; }
    .column-1.right-float {
      float: right; }

  .column-2 {
    width: 16.66667%; }
    .column-2.left-float {
      float: left; }
    .column-2.right-float {
      float: right; }

  .column-3 {
    width: 25%; }
    .column-3.left-float {
      float: left; }
    .column-3.right-float {
      float: right; }

  .column-4 {
    width: 33.33333%; }
    .column-4.left-float {
      float: left; }
    .column-4.right-float {
      float: right; }

  .column-5 {
    width: 41.66667%; }
    .column-5.left-float {
      float: left; }
    .column-5.right-float {
      float: right; }

  .column-6 {
    width: 50%; }
    .column-6.left-float {
      float: left; }
    .column-6.right-float {
      float: right; }

  .column-7 {
    width: 58.33333%; }
    .column-7.left-float {
      float: left; }
    .column-7.right-float {
      float: right; }

  .column-8 {
    width: 66.66667%; }
    .column-8.left-float {
      float: left; }
    .column-8.right-float {
      float: right; }

  .column-9 {
    width: 75%; }
    .column-9.left-float {
      float: left; }
    .column-9.right-float {
      float: right; }

  .column-10 {
    width: 83.33333%; }
    .column-10.left-float {
      float: left; }
    .column-10.right-float {
      float: right; }

  .column-11 {
    width: 91.66667%; }
    .column-11.left-float {
      float: left; }
    .column-11.right-float {
      float: right; }

  .column-12 {
    width: 100%; }
    .column-12.left-float {
      float: left; }
    .column-12.right-float {
      float: right; } }
@media (min-width: 768px) and (max-width: 1023px) {
  .column-3 {
    width: 25%; }

  .column-4.avatar {
    width: 50%; } }
.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

footer {
  background-color: #202020;
  font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
  font-weight: 300; }
  footer a {
    text-decoration: none;
    padding: 0; }
  footer .primary-footer {
    padding: 3em 0em 3em 0em;
    color: #ffffff; }
    footer .primary-footer h5 {
      font-size: .7em; }
    footer .primary-footer p {
      color: rgba(255, 255, 255, 0.4);
      font-size: .7em;
      padding: 0;
      text-transform: uppercase;
      letter-spacing: .2em; }
      footer .primary-footer p .strong {
        font-weight: 900;
        padding-right: 1em; }
    footer .primary-footer a {
      color: rgba(255, 255, 255, 0.4);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      footer .primary-footer a:hover {
        color: rgba(255, 255, 255, 0.6); }
    footer .primary-footer ul {
      list-style-type: none; }
      footer .primary-footer ul li {
        display: inline;
        padding-right: 0.5em; }
        footer .primary-footer ul li img {
          opacity: 0.3;
          width: 40px;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }
          footer .primary-footer ul li img:hover {
            opacity: 0.6;
            border-bottom: none; }
    @media (min-width: 0px) and (max-width: 1023px) {
      footer .primary-footer {
        text-align: center; } }
  footer .sub-footer {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    padding-bottom: 0; }
    footer .sub-footer p {
      font-size: 0.7em;
      color: rgba(255, 255, 255, 0.3); }
    footer .sub-footer a {
      color: rgba(255, 255, 255, 0.3); }

/* LINE BREAK */
.row.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

/*      HERO IMAGES     */
.hero-boat {
  background-image: url("../../img/hero-boat.jpg"); }

.hero-bird-flying {
  background-image: url("../../img/hero-bird-flying.jpg"); }

.hero-coast {
  background-image: url("../../img/hero-coast.jpg"); }

.hero-waves {
  background-image: url("../../img/hero-waves.jpeg"); }

.hero-team {
  background-image: url("../../img/team.jpg"); }

.hero-hands {
  background-image: url("../../img/hero-hands.jpg"); }

.hero-biker {
  background-image: url("../../img/hero-biker.jpg"); }

.title-gradient {
  background-image: -webkit-linear-gradient(top, rgba(35, 31, 32, 0) 0%, #000 100%);
  background-image: -o-linear-gradient(top, rgba(35, 31, 32, 0) 0%, #000 100%);
  background-image: linear-gradient(to bottom, rgba(35, 31, 32, 0) 0%, #000 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00231F20', endColorstr='#FF000000', GradientType=0);
  opacity: 0.6;
  filter: alpha(opacity=60);
  width: 100%;
  height: calc(100vh / 2);
  position: absolute;
  bottom: 0;
  left: 0; }

.dark-overlay:before {
  content: " ";
  background-color: rgba(8, 8, 8, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

img.stats {
  width: 100px;
  height: 100px !important;
  margin-bottom: 1em; }
img.nudge-up {
  transition: all .4s ease-in-out; }
  img.nudge-up:hover {
    -ms-transform: translate(0px, -15px);
    /* IE 9 */
    -webkit-transform: translate(0px, -15px);
    /* Chrome, Safari, Opera */
    transform: translate(0px, -15px);
    /* Standard syntax */ }
img.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em; }

@media (min-width: 0px) and (max-width: 1023px) {
  .hide {
    display: none; } }

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  padding: 2em; }
  header.nav-container {
    transition: all 400ms ease-in-out; }
  header img {
    float: left;
    transition: all 400ms ease-in-out; }
  header nav ul {
    float: right;
    margin-top: 35px; }
    header nav ul li {
      display: inline;
      list-style-type: none; }
      @media (min-width: 0px) and (max-width: 1023px) {
        header nav ul li {
          display: block; } }
      header nav ul li a {
        font-size: 1em;
        font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
        font-weight: 500;
        letter-spacing: .05em;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        float: left;
        margin-right: 3em;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        @media (min-width: 1024px) {
          header nav ul li a:hover, header nav ul li a:active {
            color: #ed8222; }
            header nav ul li a:hover:before, header nav ul li a:active:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1); }
          header nav ul li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -6px;
            left: 0;
            background-color: #ed8222;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; } }
  @media (min-width: 0px) and (max-width: 1023px) {
    header {
      background-color: rgba(237, 130, 34, 0.9); } }

button {
  padding: 1em 2em 1em 2em;
  margin-top: 1em;
  font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 2px;
  font-size: .75em;
  letter-spacing: .1em;
  background-color: transparent;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  button.light {
    border: 2px solid #fff;
    color: #ffffff; }
    button.light:hover, button.light:focus, button.light:active {
      background-color: #ffffff;
      color: #003354; }
  button.dark {
    border: 2px solid #ed8222;
    color: #ffffff;
    background-color: #ed8222; }
    button.dark:hover, button.dark:focus, button.dark:active {
      background-color: transparent;
      color: #ed8222; }

.show-nav-bg, .jobs-nav {
  background-color: rgba(237, 130, 34, 0.9);
  padding: 1em;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out; }
  .show-nav-bg .nav-img-wrapper, .jobs-nav .nav-img-wrapper {
    width: 150px; }
    .show-nav-bg .nav-img-wrapper img, .jobs-nav .nav-img-wrapper img {
      -webkit-transform: scale(0.9);
      transform: scale(0.9); }
  .show-nav-bg ul, .jobs-nav ul {
    margin-top: 1em; }
    .show-nav-bg ul li a:hover, .show-nav-bg ul li a:focus, .show-nav-bg ul li a:active, .jobs-nav ul li a:hover, .jobs-nav ul li a:focus, .jobs-nav ul li a:active {
      color: #ffffff; }
    .show-nav-bg ul li a:before, .jobs-nav ul li a:before {
      background-color: #ffffff; }
  @media (min-width: 0px) and (max-width: 1023px) {
    .show-nav-bg, .jobs-nav {
      background-color: rgba(237, 130, 34, 0.9);
      box-shadow: none; } }

/* SUB NAVIGATION */
nav.sub-nav ul {
  list-style-type: none; }
  nav.sub-nav ul li {
    margin-left: -1em;
    padding-bottom: 0.5em;
    text-align: left; }
    nav.sub-nav ul li a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
      font-size: 1em;
      color: #003354;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      nav.sub-nav ul li a:hover, nav.sub-nav ul li a:active, nav.sub-nav ul li a:focus {
        color: #91bed4; }

/* RESPONSIVE MENU */
#nav-mobile {
  position: absolute;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-mobile span, #nav-mobile span:before, #nav-mobile span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background-color: white;
    position: absolute;
    display: block;
    content: '';
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
    #nav-mobile span:before {
      top: -12px; }
    #nav-mobile span:after {
      bottom: -12px; }
  @media (min-width: 1024px) {
    #nav-mobile {
      display: none; } }
  @media (min-width: 0px) and (max-width: 1023px) {
    #nav-mobile {
      top: 30px;
      right: 20px; } }

.nav-mobile-active span, .nav-mobile-active #nav-mobile span:before, #nav-mobile .nav-mobile-active span:before, .nav-mobile-active #nav-mobile span:after, #nav-mobile .nav-mobile-active span:after {
  background-color: transparent !important; }
  .nav-mobile-active span:before, .nav-mobile-active #nav-mobile span:before, #nav-mobile .nav-mobile-active span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0 !important; }
  .nav-mobile-active span:after, .nav-mobile-active #nav-mobile span:after, #nav-mobile .nav-mobile-active span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0 !important; }

@media (min-width: 0px) and (max-width: 1023px) {
  header {
    padding: 1em; }
    header .nav-img-wrapper {
      width: 150px; }
    header nav {
      display: none; }
      header nav .nav-mobile-active-menu ul {
        margin-top: 100px;
        float: none;
        height: 100vh; }
        header nav .nav-mobile-active-menu ul li {
          text-align: center; }
          header nav .nav-mobile-active-menu ul li a {
            float: none;
            font-size: 1.25em;
            font-weight: 700;
            letter-spacing: 0.25em;
            margin: 0; }
            header nav .nav-mobile-active-menu ul li a:hover {
              color: #ffffff; } }
.about-grid {
  list-style: none;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%; }
  .about-grid li {
    display: inline-block;
    margin: 20px 10px 0 10px;
    vertical-align: top;
    height: 300px;
    overflow: hidden; }
    .about-grid li figure img, .about-grid li a img {
      width: 300px;
      max-height: 300px; }
      @media (min-width: 1024px) {
        .about-grid li figure img, .about-grid li a img {
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -ms-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          -webkit-transform: scale(1.1);
          transform: scale(1.1); } }
    .about-grid li figure.scale-overlay-effect figcaption, .about-grid li a.scale-overlay-effect figcaption {
      position: absolute;
      bottom: 0;
      padding: 1em;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: translate3d(0, 60px, 0);
      transform: translate3d(0, 60px, 0); }
      @media (min-width: 0px) and (max-width: 1023px) {
        .about-grid li figure.scale-overlay-effect figcaption, .about-grid li a.scale-overlay-effect figcaption {
          transition: none;
          transform: none;
          position: relative;
          padding: 0; } }
      .about-grid li figure.scale-overlay-effect figcaption h4, .about-grid li a.scale-overlay-effect figcaption h4 {
        color: #91bed4;
        padding: 0;
        font-size: 1.5em; }
        @media (min-width: 0px) and (max-width: 767px) {
          .about-grid li figure.scale-overlay-effect figcaption h4, .about-grid li a.scale-overlay-effect figcaption h4 {
            font-size: 1em; } }
      .about-grid li figure.scale-overlay-effect figcaption h5, .about-grid li a.scale-overlay-effect figcaption h5 {
        color: #ffffff;
        font-weight: 300;
        padding-bottom: 0; }
        @media (min-width: 0px) and (max-width: 1023px) {
          .about-grid li figure.scale-overlay-effect figcaption h5, .about-grid li a.scale-overlay-effect figcaption h5 {
            color: #003354; } }
    @media (min-width: 1024px) {
      .about-grid li figure.scale-overlay-effect, .about-grid li a.scale-overlay-effect {
        background-color: black; }
        .about-grid li figure.scale-overlay-effect:hover img, .about-grid li a.scale-overlay-effect:hover img {
          opacity: 0.5;
          -webkit-transform: scale(1);
          transform: scale(1); }
        .about-grid li figure.scale-overlay-effect:hover figcaption, .about-grid li a.scale-overlay-effect:hover figcaption {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); } }

.about-grid li > figure, .about-grid li > a, .aboutgrid li > a img,
.about-grid li > figure img {
  border: none;
  outline: none;
  display: block;
  position: relative; }

.about-grid li.about-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #ddd;
  border-width: 15px;
  left: 50%;
  margin: -20px 0 0 -15px; }

.about-expander {
  position: absolute;
  background: #ddd;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden; }

.about-expander-inner {
  padding: 50px 30px;
  height: 100%; }

.about-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer; }
  .about-close:before, .about-close:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #888;
    transform: rotate(45deg); }
  .about-close:after {
    transform: rotate(-45deg); }
  .about-close:hover:after, .about-close:hover:before {
    background: #333; }

.about-fullimg,
.about-details {
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative; }

.about-details {
  padding: 0 40px 0 20px; }

.about-fullimg {
  text-align: center; }
  .about-fullimg img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%; }

.about-details h3 {
  font-weight: 500;
  font-size: 52px;
  padding: 40px 0 10px;
  margin-bottom: 10px; }
.about-details h5 {
  font-weight: 300;
  font-size: 30px; }
.about-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999; }

.about-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  animation: loader 0.5s infinite ease-in-out both; }

@keyframes loader {
  0% {
    background: #ddd; }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; } }
@media screen and (max-width: 830px) {
  .about-expander h3 {
    font-size: 32px; }

  .about-expander h5 {
    font-size: 20px; }

  .about-expander p {
    font-size: 13px; }

  .about-expander a {
    font-size: 12px; } }
@media screen and (max-width: 650px) {
  .about-fullimg {
    display: none; }

  .about-details {
    float: none;
    width: 100%; } }
#map-canvas {
  width: 100%;
  height: 500px;
  background-color: green; }
  @media (min-width: 0px) and (max-width: 767px) {
    #map-canvas {
      display: none;
      padding: 0; } }

form *:focus {
  outline: none; }
form .inp {
  margin-bottom: 2em; }
  form .inp.col {
    width: 33%;
    display: inline-block; }
    @media (min-width: 0px) and (max-width: 1023px) {
      form .inp.col {
        width: 100%;
        display: block; } }
  form .inp.row {
    width: 100%;
    display: block; }
form input, form textarea {
  background-color: #003354;
  border: 3px solid #003e59;
  height: 50px;
  border-radius: 2px;
  width: 100%;
  font-family: "PT Serif", Georgia, Times, serif;
  padding: 1em;
  font-size: 1.15em;
  line-height: 2em;
  color: #ffffff;
  -webkit-transition: border 400ms ease-in-out;
  -moz-transition: border 400ms ease-in-out;
  -ms-transition: border 400ms ease-in-out;
  -o-transition: border 400ms ease-in-out;
  transition: border 400ms ease-in-out; }
  form input:focus, form textarea:focus {
    border: 3px solid #91bed4;
    -webkit-transition: border 400ms ease-in-out;
    -moz-transition: border 400ms ease-in-out;
    -ms-transition: border 400ms ease-in-out;
    -o-transition: border 400ms ease-in-out;
    transition: border 400ms ease-in-out; }
form textarea {
  height: 300px; }
form label {
  display: block;
  font-family: "Lato", Helvetica, Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .25em;
  font-size: .75em;
  color: #91bed4;
  text-align: left;
  margin-bottom: 1em; }

/*# sourceMappingURL=main.css.map */
